.fade-enter {
  opacity: 0;
  transform: translateY(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s;
}

.gallery {
  .boxes {
    width: 80%;
    margin: 20px auto;
    columns: 4;
    column-gap: 20px;

    .box {
      width: 100%;
      margin-bottom: 10px;
      break-inside: avoid;
      transition: all 1s;

      &.hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(100%);
        transition: all 1s;
      }

      &.show {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0);
      }

      img {
        width: 100%;
        border-radius: 15px;
      }
    }
  }
}

@media (max-width: 680px) {
  .gallery {
    .boxes {
      columns: 2;
    }
  }
}

@media (max-width: 400px) {
  .gallery {
    .boxes {
      columns: 1;
    }
  }
}
