.drink-card {
  background-color: #00b5b855;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 20px 20px 20px;
  padding: 20px;

  &__image {
    width: calc(100% + 40px);
    margin: -20px;
    margin-bottom: 10px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }

  &__name {
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 16px;
    margin-bottom: 5px;
  }

  &__ingredients {
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 10px;
  }

  &__instructions {
    font-size: 14px;
    margin-left: 30px;
  }
}
